{% extends "base.html" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">Welcome to bossworker</h1>
            <p class="lead">Find cool jobs near you</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='images/card_1.png') }}" class="card-img-top" alt="Card_1">
                    <div class="card-body">
                        <h5 class="card-title">Connect with Friends</h5>
                        <p class="card-text">A healthy social life removes boredom</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='images/card_2.png') }}" class="card-img-top" alt="Card_2">
                    <div class="card-body">
                        <h5 class="card-title">Connect from anywhere</h5>
                        <p class="card-text">Distance is no barrier. Get in touch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='images/card_3.png') }}" class="card-img-top" alt="Card_3">
                    <div class="card-body">
                        <h5 class="card-title">Express the Care</h5>
                        <p class="card-text">Stay close to your loved ones</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-button">
        <button class="button" onclick="window.location.href='{{ url_for('auth.chat') }}'">Chat with friends</button>
    </div>
{% endblock %}
