{% extends "base.html" %}

{% block head %}
    <title>Landing page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slides_style.css') }}">
{% endblock %}

{% block body %}
<h1 class="text-content">Welcome to bossworker</h1>
<section class="home-content">
    <div class="content-block">
        <img src="{{ url_for('static', filename='images/friends.png') }}" alt="Friends">
        <div class="text-content">
            <h2 class="text-content">Stay Connected with Friends and Loved Ones</h2>
            <p class="text-content">Rediscover the joy of meaningful conversations. Whether it's a quick chat or a heart-to-heart, stay in touch with those who matter most, no matter the distance.</p>
        </div>
    </div>
    <div class="content-block">
        <img src="{{ url_for('static', filename='images/global.png') }}" alt="Global Connections">
        <div class="text-content">
            <h2 class="text-content">Bridge Distances, Build Friendships Across the Globe</h2>
            <p class="text-content">Expand your circle beyond borders. Make connections with people from different cultures and backgrounds, bringing the world closer to you, one conversation at a time.</p>
        </div>
    </div>
    <div class="content-block">
        <img src="{{ url_for('static', filename='images/share.png') }}" alt="Share Memories">
        <div class="text-content">
            <h2 class="text-content">Share Files, Share Memories - Effortlessly</h2>
            <p class="text-content">From cherished photos to important documents, exchange what matters with ease. Share memories that last a lifetime, and experiences that spark joy, all in a few clicks.</p>
        </div>
    </div>
    <div class="content-block">
        <img src="{{ url_for('static', filename='images/community.png') }}" alt="Global Community">
        <div class="text-content">
            <h2 class="text-content">Spread the Love, Create a Global Community</h2>
            <p class="text-content">More than just a platform—be part of a movement to foster love and connection. Grow your bonds, celebrate life’s moments, and embrace the beauty of togetherness.</p>
        </div>
    </div>
    <div class="cta-button">
        <a href="{{ url_for('auth.register') }}">Get Started</a>
    </div>
</section>

<section class="authors-slide">
    <h2>Meet the Authors</h2>
    <div class="slide-container">
        <div class="author-block">
            <img src="{{ url_for('static', filename='images/author1.png') }}" alt="Author 1">
            <div class="author-bio">
                <h3>Tobijah Ekperikpe</h3>
                <p>Backend Engineer (Alx-student). Email: tobijahekperikpe@gmail.com. Git Hub username: rallmac.</p>
            </div>
        </div>
        <div class="author-block">
            <img src="{{ url_for('static', filename='images/author0.png') }}" alt="Author 1">
            <div class="author-bio">
                <h3>Author 1</h3>
                <p>----------------------------------</p>
            </div>
        </div>
        <div class="author-block">
            <img src="{{ url_for('static', filename='images/author0.png') }}" alt="Author 2">
            <div class="author-bio">
                <h3>Author 2</h3>
                <p>--------------------------------</p>
            </div>
        </div>
    </div>
    <button class="slide-button prev" onclick="prevSlide()">Prev</button>
    <button class="slide-button next" onclick="nextSlide()">Next</button>
</section>

<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
{% endblock %}
