{% extends "base.html" %}

{% block head %}
    <title>Reset Password</title>
{% endblock %}

{% block body %}
    <h2>Reset Password</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form class="styled-form" method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
        <input type="password" name="password" placeholder="Enter new password" required><br>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}